<div class="header">
  <nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
              aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <img src="https://www.furama.com/images/LOGOFurama_4C_Normal.png" width="150px">
      <div>
        <div class="sub">
          <a href="/login" style="text-decoration: none; color: black"><i class="uil uil-user"></i> Đăng nhập</a>
        </div>
      </div>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
           aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <img src="https://www.furama.com/images/LOGOFurama_4C_Normal.png" width="100px">
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                  aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home"><i class="uil uil-estate"></i> Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/service"><i class="uil uil-dollar-sign"></i> Service</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/brand"><i class="uil uil-head-side"></i> Brand Story</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/contact"><i class="uil uil-phone"></i> Contact Us</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </nav>
  <div class="img-head">
    <img src="https://www.furama.com/images/nw_h_Hotels.jpg" alt="0">
  </div>
</div>
<div class="body">
  <div class="card-container">
    <div class="card" style="width: 18rem;">
      <img src="https://cdn1.ivivu.com/iVivu/2023/02/21/12/lagoon-pool-flycam-1--800x450.jpg" class="card-img-top"
           alt="...">
      <div class="card-body">
        <h5 class="card-title">Pool</h5>
        <p class="card-text">Can only be satisfied.</p>
        <h6>400,000VND</h6>
        <input type="button" class="btn btn-primary" data-bs-toggle="modal"
               data-bs-target="#exampleModal" value="Book now">
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="https://cdn1.ivivu.com/iVivu/2019/11/28/13/128145956-cr-800x450.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Hotel Badroom</h5>
        <p class="card-text">Can only be satisfied.</p>
        <h6>700,000VND</h6>
        <input type="button" class="btn btn-primary" data-bs-toggle="modal"
               data-bs-target="#exampleModal" value="Book now">
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="https://cdn1.ivivu.com/iVivu/2019/11/28/13/two-bedroom-pool-villa-4-cr-800x450.jpg" class="card-img-top"
           alt="...">
      <div class="card-body">
        <h5 class="card-title">Villa</h5>
        <p class="card-text">Can only be satisfied.</p>
        <h6>4,000,000VND</h6>
        <input type="button" class="btn btn-primary" data-bs-toggle="modal"
               data-bs-target="#exampleModal" value="Book now">
      </div>
    </div>
    <div class="card fit" style="width: 18rem;">
      <img src="https://ticotravel.com.vn/wp-content/uploads/2021/07/DA-NANG-FURAMA-3.jpg" class="card-img-top"
           alt="...">
      <div class="card-body">
        <h5 class="card-title">Fitness Center</h5>
        <p class="card-text">Can only be satisfied.</p>
        <h6>450,000VND</h6>
        <input type="button" class="btn btn-primary" data-bs-toggle="modal"
               data-bs-target="#exampleModal" value="Book now">
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="https://furamavietnam.com/wp-content/uploads/2023/03/V-senses-Wellness-Spa-4.jpg" class="card-img-top"
           alt="...">
      <div class="card-body">
        <h5 class="card-title">Spa Relax</h5>
        <p class="card-text">Can only be satisfied.</p>
        <h6>600,000VND</h6>
        <input type="button" class="btn btn-primary" data-bs-toggle="modal"
               data-bs-target="#exampleModal" value="Book now">
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="https://furamavietnam.com/wp-content/uploads/2023/03/Furama_Seafood-Buffet-4.jpg" class="card-img-top"
           alt="...">
      <div class="card-body">
        <h5 class="card-title">Buffet Food And Drink</h5>
        <p class="card-text">Can only be satisfied.</p>
        <h6>500,000VND</h6>
        <input type="button" class="btn btn-primary" data-bs-toggle="modal"
               data-bs-target="#exampleModal" value="Book now">
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img
        src="https://savingbooking.com/wp-content/uploads/2021/07/193292351_10161396847841151_7943747807237702201_n.jpg"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Surfing Canoe</h5>
        <p class="card-text">Can only be satisfied.</p>
        <h6>5,000,000VND</h6>
        <input type="button" class="btn btn-primary" data-bs-toggle="modal"
               data-bs-target="#exampleModal" value="Book now">
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img
        src="https://furamavietnam.com/wp-content/uploads/2022/11/Luxury-Pearl-Wedding-Package-Furama-Resort-Danang.jpg"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Party Wedding</h5>
        <p class="card-text">Can only be satisfied.</p>
        <h6>200,000,000VND</h6>
        <input type="button" class="btn btn-primary" data-bs-toggle="modal"
               data-bs-target="#exampleModal" value="Book now">
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header" style="background-color: royalblue ">
<!--        background-image: linear-gradient(#EE4D2D,#FF7337)-->
        <h5 class="modal-title" id="exampleModalLabel" style="color: white">Vui lòng nhập thông tin</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="margin-bottom:30px">
        <form class="form" [formGroup]="reactiveForm" (ngSubmit)="addNew()">
          <div class="row mb-3">
            <div class="col-sm-6">
              <label for="inputId" class="form-label">Họ và tên:</label>
              <input type="text" class="form-control" id="inputId" placeholder="Nguyễn Văn A" formControlName="nameCustomer">
            </div>
            <div class="col-sm-6">
              <label for="inputName" class="form-label">Sinh nhật:</label>
              <input type="text" class="form-control" id="inputName" placeholder="2023-01-01" formControlName="dateOfBirth">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-6">
              <label for="email" class="form-label">Email:</label>
              <input type="text" class="form-control" id="email" placeholder="abc@gmail.com" formControlName="email">
            </div>
            <div class="col-sm-6">
              <label for="phone" class="form-label">Điện thoại:</label>
              <input type="text" class="form-control" id="phone" placeholder="0935530478" formControlName="phoneNumber">
            </div>
          </div>
          <div>
            <button style="text-align: center; margin-left: 48%" type="submit" class=" btn btn-primary">Đăng kí
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <!-- Footer -->
  <footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              Furama Resort
            </h6>
            <p>
              Here you can use rows and columns to organize your footer content. Lorem ipsum
              dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">Angular</a>
            </p>
            <p>
              <a href="#!" class="text-reset">React</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Vue</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Laravel</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@example.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      <img src="https://www.furama.com/images/LOGOFurama_4C_Normal.png" width="100px">
      <img src="https://www.furama.com/images/xclusive.png" width="150px" height="50px">
      <img src="https://www.furama.com/images/fx.png" width="100px" height="50">
    </div>
    <!-- Copyright -->
  </footer>
</div>
